<%- include ("header") -%>

<main id="introHome">
    <img id="imagenHome"
        src="https://cdn.shortpixel.ai/client/q_lossless,ret_img/https://www.findfillstorage.com.au/wp-content/uploads/2019/03/warehouse-inventory.jpeg"
        alt="DEPOSITOS">
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nesciunt ratione. Optio fuga possimus
            vel earum harum molestias, unde sed qui saepe natus, explicabo ducimus voluptas repellendus fugiat omnis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo sunt non sit mollitia recusandae ut
            vero repellendus ad. Quibusdam tempore, sint nam iste doloribus culpa ratione cupiditate repudiandae
            libero.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nesciunt ratione. Optio fuga
            possimus vel earum harum molestias, unde sed qui saepe natus, explicabo ducimus voluptas repellendus fugiat
            omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo sunt non sit mollitia
            recusandae ut vero repellendus ad. Quibusdam tempore, sint nam iste doloribus culpa ratione cupiditate
            repudiandae libero.Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nesciunt ratione.
            Optio fuga possimus vel earum harum molestias, unde sed qui saepe natus, explicabo ducimus voluptas
            repellendus fugiat omnis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat illo sunt non
            sit mollitia recusandae ut vero repellendus ad. Quibusdam tempore, sint nam iste doloribus culpa ratione
            cupiditate repudiandae libero.
        </p>
    </div>
</main>

<section id="propiedadesHome">
    <ul>
        <li>
            <span></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, reprehenderit! Velit, obcaecati vel. Illum animi veniam, cupiditate veritatis laborum est atque excepturi maiores voluptate, deleniti tenetur ipsum architecto cumque nulla.</p>
        </li>
        <li>
            <span></span>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, reprehenderit! Velit, obcaecati vel. Illum animi veniam, cupiditate veritatis laborum est atque excepturi maiores voluptate, deleniti tenetur ipsum architecto cumque nulla.</p>
        </li>
        <li>
            <i class="bi bi-lightning-charge"></i>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias, reprehenderit! Velit, obcaecati vel. Illum animi veniam, cupiditate veritatis laborum est atque excepturi maiores voluptate, deleniti tenetur ipsum architecto cumque nulla.</p>
        </li>
    <ul>
    
</section>


<%- include ("footer") -%>