<%- include ("partials/header") %> 

<main id="contenedorVentas">
    <h2>ventas</h2>

    <div class="nueva-venta">
        <h4>Añadir nueva venta</h4>
        
        

    </div>

</main>



<%- include ("partials/footer") %> 