<%- include ("partials/header") %> 

<main id="contenedorVentas">
    <h2>ventas</h2>

    <div class="nueva-venta">
        <h4>Añadir nueva venta</h4>

        <form action="">
            <div class="form-row">
                <div class="col-2">
                    <input type="date" class="form-control" placeholder="FECHA">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="PRODUCTO">
                </div>
                <div class="col-2">
                    <input type="number"class="form-control" placeholder="CANTIDAD">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="MONTO">
                </div>
                <div class="col">
                    <a href="" name="añadirVenta" id="sumaVenta">+</a>
                </div>
            </div>
        </form>
    </div>

</main>



<%- include ("partials/footer") %> 

