$desktop: 1200px;
$mid-size: 800px;

@mixin desktop {   
    @media (min-width: #{$desktop}) {
        @content;
    }
};

@mixin mid-size {   
    @media (min-width: #{$mid-size}) {
        @content;
    }
};


main#introHome {
    margin: 20px 20%;
    align-items: center;

    img#imagenHome {
        width: 100%;
        max-width: 650px;
        height: auto;
        margin: 2em auto;
        display: block;
    }

    div {
        width: 100%;
        text-align: left;

        p {
            line-height: 2;
            font-size: 15px;
        }
    }

    @include desktop(){
        img#imagenHome{
            width: 70%;
        }
    }

}

section#propiedadesHome {
    margin: 8em 7% 6em;

    h2 {
        text-align: center;
        font-family: 'Montserrat';
        font-weight: 600;
        color: $grisFooterMain;

        span {
            color: $naranjaTexto;
            font-weight: 700;
        }
    }

    ul {
        list-style-type: none;
        display: grid;
        grid-template-rows: repeat(3, 30%);
        justify-content: center;
        padding: 0%;
        margin-bottom: 0%;

        li {
            padding: 2em;
            color: $naranjaTexto;
            font-size: 18px;
            line-height: 1.4;
            letter-spacing: 1px;
            align-items: center;

            img {
                margin: 30px auto;
                display: block;
            }

            p {
                font-weight: 600;
                text-align: left;
            }
        }

    }

    @include desktop(){
        ul{
            grid-template-columns: repeat(3, 30%);
            justify-content: center;
        }
    }

}