@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.holder-tabla {
  min-height: 1000px;
}

nav {
  background-color: #125358;
  position: relative;
  margin: 0 auto;
}

nav img {
  width: 100%;
}

.navbar-brand {
  width: 140px;
}

.navbar-toggler {
  margin: 0;
}

#navbarNav {
  padding-right: 50px;
}

#navbarNav ul li {
  margin-right: 25px;
  margin-left: 25px;
  font-size: 20px;
}

#navbarNav ul li a {
  color: #FFAA00;
}

.nav-item .active {
  color: #fff !important;
}

footer {
  position: relative;
}

footer div.container-fluid {
  background-color: #3A3A3A;
  margin-left: 0;
  margin-right: 0;
}

footer div.container-fluid div.row {
  padding: 2em 2em;
}

footer div.container-fluid div.row h3 {
  color: #d4d4d4;
}

footer div.container-fluid div.row p {
  color: #949494;
  font-size: 12px;
}

footer div.container-fluid div.row .col-sm-12 {
  margin: 1em 0;
}

footer div.container-fluid #footer-item {
  padding: 1em;
}

footer div.container-fluid img {
  width: 70%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
}

footer div.copyright {
  background-color: #002D31;
  color: #949494;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 1em;
}

footer div.copyright p {
  margin: 0px;
}

main#contenedorVentas {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 2em 10%;
}

main#contenedorVentas h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #125358;
}

main#contenedorVentas div.nueva-venta {
  margin-top: 2em;
}

main#contenedorVentas div.nueva-venta h4 {
  color: #3A3A3A;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Lato';
  position: relative;
}

main#contenedorVentas div.nueva-venta h4::after {
  position: absolute;
  content: '';
  height: 4px;
  bottom: -5px;
  background: #707070;
  margin: 0 auto;
  left: 0;
  width: 75%;
}

@media (min-width: 990px) {
  main#contenedorVentas main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4em 15%;
  }
  main#contenedorVentas h2 {
    text-align: center;
    font-size: 50px !important;
  }
  main#contenedorVentas h4 {
    font-size: 30px !important;
  }
  main#contenedorVentas h4::after {
    width: 35% !important;
  }
}

.form-container {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
}

.form-container .selectors {
  margin: 0;
}

.form-container .selectors .selec {
  margin-bottom: 2em;
}

.form-container .selectors .selec .form-control {
  border-radius: 21px;
}

.form-container .selectors .selec .form-select {
  border-radius: 21px;
}

.form-container .plus-btn {
  margin: auto 0;
}

.form-container div.addSale {
  text-decoration: none;
  color: #FFAA00;
  font-weight: bold;
  font-family: 'Lato';
  font-size: 55px;
  text-align: center;
  border: 0;
  background: transparent;
}

.form-container .btn {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

@media (min-width: 990px) {
  .form-container {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
  .form-container .selectors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 1fr 1fr;
  }
  .form-container .btn {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: unset;
    width: 20%;
    height: 50%;
  }
  .form-container .selec {
    margin: auto 1em auto 1em !important;
  }
  .form-container .plus-btn {
    margin: auto;
    margin-left: 6em;
    text-align: start;
  }
}

div.lista {
  font-family: 'Lato';
  font-weight: 400;
  word-spacing: 6px;
}

div.lista tbody {
  font-size: 0.8em;
}

@media (min-width: 990px) {
  div.lista tbody {
    font-size: 1em;
  }
}

main#introHome {
  margin: 20px 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#introHome img#imagenHome {
  width: 100%;
  max-width: 650px;
  height: auto;
  margin: 2em auto;
  display: block;
}

main#introHome div {
  width: 100%;
  text-align: left;
}

main#introHome div p {
  line-height: 2;
  font-size: 15px;
}

@media (min-width: 1200px) {
  main#introHome img#imagenHome {
    width: 70%;
  }
}

section#propiedadesHome {
  margin: 8em 7% 6em;
}

section#propiedadesHome h2 {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #3A3A3A;
}

section#propiedadesHome h2 span {
  color: #FFAA00;
  font-weight: 700;
}

section#propiedadesHome ul {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30%)[3];
      grid-template-rows: repeat(3, 30%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0%;
  margin-bottom: 0%;
}

section#propiedadesHome ul li {
  padding: 2em;
  color: #FFAA00;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#propiedadesHome ul li img {
  margin: 30px auto;
  display: block;
}

section#propiedadesHome ul li p {
  font-weight: 600;
  text-align: left;
}

@media (min-width: 1200px) {
  section#propiedadesHome ul {
    -ms-grid-columns: (30%)[3];
        grid-template-columns: repeat(3, 30%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

body,
html {
  font-family: 'Lato';
}

body {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */