@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.holder-tabla {
  min-height: 1000px;
}

nav {
  background-color: #125358;
  position: relative;
  margin: 0 auto;
}

nav img {
  width: 80%;
}

#navbarNav {
  padding-right: 50px;
}

#navbarNav ul li {
  margin-right: 25px;
  margin-left: 25px;
  font-size: 20px;
}

#navbarNav ul li a {
  color: #FFAA00;
}

.nav-item .active {
  color: #fff !important;
}

footer {
  position: relative;
}

footer div.container-fluid {
  background-color: #3A3A3A;
  margin-left: 0;
  margin-right: 0;
}

footer div.container-fluid div.row {
  padding: 2em 8em;
}

footer div.container-fluid div.row h3 {
  color: #d4d4d4;
}

footer div.container-fluid div.row p {
  color: #949494;
  font-size: 12px;
}

footer div.copyright {
  background-color: #002D31;
  color: #949494;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 1em;
}

footer div.copyright p {
  margin: 0px;
}

main#contenedorVentas {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5em 15%;
}

main#contenedorVentas h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 55px;
  font-family: 'Montserrat';
  font-weight: 800;
  color: #125358;
}

main#contenedorVentas div.nueva-venta {
  margin-top: 4em;
}

main#contenedorVentas div.nueva-venta h4 {
  color: #3A3A3A;
  font-size: 34px;
  font-weight: 600;
  font-family: 'Lato';
  position: relative;
}

main#contenedorVentas div.nueva-venta h4::after {
  position: absolute;
  content: '';
  height: 4px;
  bottom: -5px;
  background: #707070;
  margin: 0 auto;
  left: 0;
  width: 35%;
}

main#contenedorVentas div.nueva-venta form {
  margin: 1em auto;
}

main#contenedorVentas div.nueva-venta form div.form-row {
  place-items: center;
}

main#contenedorVentas div.nueva-venta form .form-control {
  border-radius: 21px;
}

main#contenedorVentas div.nueva-venta form input#sumaVenta {
  text-decoration: none;
  color: #FFAA00;
  font-weight: bold;
  font-family: 'Lato';
  font-size: 55px;
  margin: 0 .5em;
  border: 0;
  background: transparent;
}

main#introHome {
  margin: 20px 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main#introHome img#imagenHome {
  width: 70%;
  height: auto;
  margin: 2em auto;
  display: block;
}

main#introHome div {
  width: 100%;
  text-align: justify;
}

main#introHome div p {
  line-height: 2;
  font-size: 15px;
}

section#propiedadesHome {
  margin: 8em 15% 10em;
}

section#propiedadesHome h2 {
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #3A3A3A;
}

section#propiedadesHome h2 span {
  color: #FFAA00;
  font-weight: 700;
}

section#propiedadesHome ul {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0%;
}

section#propiedadesHome ul li {
  padding: 2em;
  color: #FFAA00;
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#propiedadesHome ul li img {
  margin: 30px auto;
  display: block;
}

section#propiedadesHome ul li p {
  font-weight: 600;
  text-align: left;
}

body,
html {
  font-family: 'Lato';
}

body {
  max-width: 1600px;
  margin: 0 auto !important;
}
/*# sourceMappingURL=main.css.map */