<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-center col-3">
                <img src="/images/logoFooter.svg" alt="logo-miStock">
            </div>
            <div class="col align-self-start col-3">
                <h3>Contacto</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque ullam labore qui voluptates officia
                    aliquam iste beatae odit amet. Dolorem animi similique maxime possimus reiciendis illum quam
                    obcaecati doloremque itaque.</p>
            </div>
            <div class="col align-self-start col-3">
                <h3>Links</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam quidem non ea? Eius numquam quis
                    modi incidunt maiores quos aut cumque commodi? Dolores fugit, atque fuga ratione ab rerum at!</p>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>copyright 2021</p>
    </div>
</footer>
</body>

</html>